{% extends 'base.html' %}
{% block title %}kenway{% endblock %}
{% block content %}
<style>

</style>

<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/img/page-title-bg.webp);">
    <div class="container position-relative">
      <h1>Fleet</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{{ url_for('index')}}">Home</a></li>
          <li class="current">Fleet</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- fleet 3 Section -->
  <section id="about-3" class="about-3 section">
    <div class="container">
      <div class="row gy-4 justify-content-between align-items-center">
        <div class="col-lg-6 order-lg-2 position-relative" data-aos="zoom-out">
          <img src="static/img/img_sq_1.jpg" alt="kenway Operations Transport Services" class="img-fluid">
          <!-- <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn">
              <span class="play"><i class="bi bi-play-fill"></i></span>
            </a> -->
        </div>
        <div class="col-lg-5 order-lg-1" data-aos="fade-up" data-aos-delay="100">
          <h2 class="content-title mb-4">Our Fleet</h2>
          <p class="mb-4">
            At Kenway Operations, we take pride in maintaining a diverse and reliable fleet of vehicles, from luxury
            vans and buses to trucks for logistics. All vehicles are equipped with modern amenities to ensure comfort,
            safety, and efficiency.
          </p>



          <p><a href="#" class="btn-cta">Get in touch</a></p>
        </div>
      </div>
    </div>
  </section><!-- /About 3 Section -->
  <!--Fleet 2 Section -->
  <section id="services-2" class="services-2 section dark-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Fleet Categories</h2>
    </div><!-- End Section Title -->
    <section class="articles">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="static/img/img_sq_5.jpg" alt="Passenger Vehicles" />
          </figure>
          <div class="article-body">
            <h2>Passenger Vehicles</h2>
            <p>
              Vans, minibuses, and luxury coaches.
            </p>
            <a href="#" class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
      </article>
      <article>

        <div class="article-wrapper">
          <figure>
            <img src="static/img/fleet/small-straight-trucks-1.png" alt="" />
          </figure>
          <div class="article-body">
            <h2>Logistics Trucks</h2>
            <p>
              Cargo trucks for goods transport.
            </p>
            <a href="#" class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
      </article>
      <article>

        <div class="article-wrapper">
          <figure>
            <img src="static/img/fleet/gloucester-super-centre-pr-image.png" alt="" />
          </figure>
          <div class="article-body">
            <h2>Specialized Vehicles</h2>
            <p>
              For transporting fragile or specialized cargo.</p>
            <a href="#" class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
      </article>
    </section>
  </section><!-- /FLeet Section -->


</main>

{% endblock %}