{% extends 'base.html' %}
{% block title %}kenway{% endblock %}
{% block content %} 

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/img/page-title-bg.webp);">
      <div class="container position-relative">
        <h1>Services</h1>
        <!-- <p>
          Home
          /
          Services</p> -->
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>SERVICES</h2>
        <p>Travel & Tours</p>
      </div><!-- End Section Title -->

      <div class="content">
        <div class="container">
          <div class="row g-0">
            <div class="col-lg-3 col-md-6">
              <div class="service-item">
                <span class="number">01</span>
                <div class="service-item-icon">
                  <!-- Icon Placeholder -->
                </div>
                <div class="service-item-content">
                  <h3 class="service-heading">Corporate Travel</h3>
                  <p>
                    Streamlined business travel packages.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="service-item">
                <span class="number">02</span>
                <div class="service-item-icon">
                  <!-- Icon Placeholder -->
                </div>
                <div class="service-item-content">
                  <h3 class="service-heading">Religious Transportation</h3>
                  <p>
                    Reliable transport for pilgrimages and church events.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="service-item">
                <span class="number">03</span>
                <div class="service-item-icon">
                  <!-- Icon Placeholder -->
                </div>
                <div class="service-item-content">
                  <h3 class="service-heading">School Transport</h3>
                  <p>
                    We provide safe, dependable transportation for schools and educational institutions, prioritizing
                    student safety.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="service-item">
                <span class="number">04</span>
                <div class="service-item-icon">
                  <!-- Icon Placeholder -->
                </div>
                <div class="service-item-content">
                  <h3 class="service-heading">Logistics</h3>
                  <p>
                    OEfficient and reliable goods transport.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="service-item">
                <span class="number">05</span>
                <div class="service-item-icon">
                  <!-- Icon Placeholder -->
                </div>
                <div class="service-item-content">
                  <h3 class="service-heading">Travel Solutions</h3>
                  <p>
                    Discover Kenya with our travel packages .
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="service-item">
                <span class="number">06</span>
                <div class="service-item-icon">
                  <!-- Icon Placeholder -->
                </div>
                <div class="service-item-content">
                  <h3 class="service-heading">Featured images or video</h3>
                  <p>
                    Showcae of Kenway Operations' vehicles on te road, trasporting passengers and cargo.
                  </p>
                </div>
              </div>
            </div>

    </section><!-- /Services Section -->


  </main>

  {% endblock %}